* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: white;
}

.caixa-principal {
    height: 100vh;
    width: 100%;
    background-image: url(https://i.gifer.com/7IgI.gif);
    background-size: cover;
    background-position: center;
    background-color: #191919;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
}

.portfolio {
    font-size: 40px;
    font-weight: 500;
}

.portfolio span {
    color: #f9004d;
}

nav li {
    list-style: none;
    display: inline-block;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
}

.link-menu:hover {
    color: #f9004d;
    transition: 0.5;
}

.link-menu:active {
    opacity: 0.5;
}

.meu-nome {
    position: absolute;
    top: 50%;
    left: 7%;
}

h1 {
    font-size: 75px;

}

h1 span {
    color: #f9004d;
}

.meu-nome h3 {
    font-size: 25px;
}

section {
    display: flex;
    align-items: center;
    padding: 60px 15%;
    background-color: #000000;
}

section img {
    height: 400px;
    border-radius: 100%;
    border: 2px solid #f9004d;
    margin-right: 30px;
}

section div h2 {
    color: white;    font-size: 75px;
}

section div p {
    color: #e2b9c6;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 60px;
}

section div button {

    background: #f9004d;
    height: 50px;
    width: 180px;
    font-size: 18px;
    border: none;
    border-radius: 26px;
    cursor: pointer;
}

section div button:hover {
    background-color: black;
    border: 3px solid #f9004d;
    transition: 0.5s;
}

.projetos {
    background-color: #191919;
    padding-top: 50px;
    padding-bottom: 100px;
    
}

.projetos h2 {
    font-size: 75px;
    text-align: center;
}

.card {
    background-color: #000000;
    height: 365px;
    width: 341px;
    border-radius: 26px;
    padding: 20px 35px;
    text-align: center;
   
}

.card img {
    height: 100px;
}

.card h5 {
    font-size: 24px;
}

.card p {
    color: #e2b9c6;
    margin-top: 20px;
    margin-bottom: 40px;
}

.card a {
    background-color: #f9004d;
    padding: 15px 26px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    
}

.card a:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
}

.card-projetos {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    flex-wrap: wrap;
    gap: 12px;
    padding: 20px;
    
}

.card-projetos02 {
    display: flex;
    justify-content: space-around;
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-top: -100px;
    
}

footer {
    background-color: #000;
    padding-top: 100px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h5 {
    font-size: 30px;
}

footer p {
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 30px;

}

.social {
    display: flex;
    gap: 20px;
}

.social img {
    height: 24px;
    border-radius: 50%;
}

.social a {
    background-color: #f9004d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.social a:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

@media screen and (max-width: 700px) {

* {
    box-sizing: none;
}

.caixa-principal {
    position: relative;
    display: block;
    font-size: 30px;
    text-align: center;
}

.portfolio {
font-size: 43px;
transform: translate(-7%);
margin-right: 50%;
margin-top:15%;
margin-left: 14%;
justify-content: left;
}

nav li{
  font-size: 30px;
    text-align: center;
    display: none;
    position: abso;
}

.meu-nome h3 {
    font-size: 25px;
}

.meu-nome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-77%);
    text-align: center;
}

.meu-nome h3 {
    font-size: 25px;
        display: block;
    }
}

section {
    padding: 10% 2%;
    flex-direction: column;

}

section img {
    height: 146px;
    width: 125px;
    display: flex;
    justify-content: left;
    transform: translateX(81%);
    margin-right: 339px;
}

section div h2 {
    font-size: 29px;
    margin: 4px;
    margin-left: -316px;
   
}

section div p {
    color: #e2b9c6;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 50px;
    margin-right: 128px;
    margin-left: 50px;
    display: block;
}

section button {
    height: 40px;
    width: 160px;
    font-size: 16px;
    display: inline-block;
    justify-content:left;
    margin-top: 38px;
    margin-left: 34%;
    transform: translateX(-50%);
}

.projetos {
    background-color: #191919;
    padding-top: 50px;
    padding-bottom: 100px;
    display: block;
}

.projetos h2 {
    font-size: 30px;
    text-align: center;
    display: block;
    margin-left: -91px;
}

.card {
    background-color: #191919;
    height: 365px;
    width: 335px;
    border-radius: 26px;
    padding: 20px 35px;
    text-align: center;
}

.project h2 {
    font-size: 400%;
    text-align: center;
    display: block;
}

.card {
    height: 365px;
    width: 315px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
    margin-top: 20px;
    display: inline-block;
}

.card-projetos {
    display: inline-block;
    justify-content: space-around;
    margin-top: 38px;
    margin-left: 37%;
    transform: translateX(-50%);
}

.card-projetos02 {
    display: inline-block;
    justify-content: space-around;
    margin-top: -1px;
    margin-right: 10px;
    padding-top: -4px;
    transform: translateX(-50%);
    margin-left: 200px;

   <img src="./assets/dan-droids - coÌpia.png">
}

footer {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h5 {
    font-size: 30px;
    margin-right: 122px;
}

footer p {
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 30px;
    margin-right: 122px;
    margin-left: 30px;
}

.social {
    display: flex;
    gap: 20px;
    margin-left: -96px;
}

.social img {
    height: 24px;
    border-radius: 50%;
}

.social a {
    background-color: #f9004d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.social a:hover {
    transform: scale(1.3);
    transition: 0.5s;
}
    
}